.container {
  padding: 16px 24px;

  display: flex;
  justify-content: space-around;
}

.info h1 {
  font-size: 24px;
}

.info span {
  font-size: 14px;
  color: #929296;
  text-transform: uppercase;
}

.info p {
  display: block;
  margin-top: 32px;
}